<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @usuario.name %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @usuario.nickname %>
</p>

<p>
  <strong>Password:</strong>
  <%= @usuario.password %>
</p>

<p>
  <strong>Secret:</strong>
  <%= @usuario.secret %>
</p>

<p>
  <strong>Secret key:</strong>
  <%= @usuario.secret_key %>
</p>

<p>
  <strong>Secret iv:</strong>
  <%= @usuario.secret_iv %>
</p>

<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
